# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
.next/
dist/
out/
coverage/
build/

# Env
.env
.env.local
.env.*.local

# Docker
*.pid
*.log
docker-data/

# Misc
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Tests
jest-html-reporters-*
